<div class="message-container border-bottom mt-3" id="message-<%= message.id %>" >
  <i class="author">
    <span class="mr-3 ml-1" ><%= message.user.username %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
  <p class="ml-2"><%= message.content %></p>
</div>
