<% chatroom = Chatroom.find_by(name: 'general') %>

<div class="chat-container">
  <div class="chat-box collapse" id="collapseChat">
    <h1>Nomad Chat</h1>
    <div id="messages" data-chatroom-id="<%= chatroom.id %>">
      <%= render partial: "messages/message", collection: chatroom.messages.includes(:user), cached: true %>
    </div>
    <%= simple_form_for [ chatroom, Message.new ], remote: true do |f| %>
      <%= f.input :content, input_html: {class:'chat-content'}, label: false, placeholder: "Message ##{chatroom.name}" %>
    <% end %>
  </div>
  <button class="btn btn-primary chat-widget" type="button" data-toggle="collapse" data-target="#collapseChat"
          aria-expanded="false" aria-controls="collapseChat">
      Chat
  </button>
</div>
