<div class="py-5 border-bottom">
  <div class="d-flex justify-content-center" style="color: #495867; font-weight: bold;">
    <h4>What's your preference?</h4>
  </div>
  <div class="row d-flex justify-content-around mt-4">
    <div class="common-search">
      <a href="" class="btn btn-round-full" id="economical-search">On a budget</a>
    </div>
    <div class="common-search">
      <a href="" class="btn btn-round-full" id="expensive-search">Living large</a>
    </div>
  </div>
</div>
