<div id="wrap" class="d-flex">
  <a href="#" class="hb">
    <div class="c" style="width: 250px">
      <%= image_tag("cities/sydney.jpg", width: 400, height: 400, crop: :fill)%>
      <div class="txt">
        <h1>Sydney</h1>
      </div>
    </div>
  </a>
  <a href="#" class="hb">
    <div class="c" style="width: 350px">
      <%= image_tag("cities/singapore.jpg",  width: 400, height: 400, crop: :fill)%>
      <div class="txt">
        <h1>Singapore</h1>
      </div>
    </div>
  </a>
  <a href="#" class="hb">
    <div class="c" style="width: 300px">
      <%= image_tag("cities/bali.jpg",  width: 400, height: 400, crop: :fill)%>
      <div class="txt">
        <h1>Bali</h1>
      </div>
    </div>
  </a>
  <a href="#" class="hb">
    <div class="c" style="width: 270px">
      <%= image_tag("cities/rome.jpg",  width: 400, height: 400, crop: :fill)%>
      <div class="txt">
        <h1>Rome</h1>
      </div>
    </div>
  </a>
</div>
