<div id="wrap" class="d-flex">
  <a href="#" class="hb">
    <div class="c">
      <%= cl_image_tag("sydney", width: 400, height: 400, crop: :fill)%>
      <div class="txt">
        <h1>Sydney</h1>
      </div>
    </div>
  </a>
  <a href="#" class="hb">
    <div class="c">
      <%= cl_image_tag("singapore",  width: 400, height: 400, crop: :fill)%>
      <div class="txt">
        <h1>Singapore</h1>
      </div>
    </div>
  </a>
  <a href="#" class="hb">
    <div class="c">
      <%= cl_image_tag("bali",  width: 400, height: 400, crop: :fill)%>
      <div class="txt">
        <h1>Bali</h1>
      </div>
    </div>
  </a>
  <a href="#" class="hb">
    <div class="c">
      <%= cl_image_tag("rome",  width: 400, height: 400, crop: :fill)%>
      <div class="txt">
        <h1>Rome</h1>
      </div>
    </div>
  </a>
</div>
