<div class="container socialproof text-center mt-4 mx-auto mb-5">
  <div class = "row mx-4">
    <h2> get estimates of your <strong>perfect lifestyle</strong> budget-wisely</h2>
  </div>
   <div class="row">
    <div class="col my-5">
      <h3>10+</h3>
      <p class = "my-4">13 global nomad hotspots (and counting!) so you know where to go next in the globe</p>
    </div>
    <div class="col my-5">
      <h3>< 2 min</h3>
      <p class = "my-4">forecast your ideal lifestyle in any hotspot in less than 2 minutes</p>
    </div>
    <div class="col my-5">
      <h3>+137</h3>
      <p class = "my-4">hundreds of qualified reviews of nomads who've been where you plan to go</p>
    </div>
  </div>
</div>

<div class="container socialproof text-center mt-4 mx-auto mb-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row mt-4">
          <div class="col-2"></div>
            <div class="col-3">
            <%= cl_image_tag("mathias",  width: 200, class: "rounded-circle d-block w-40")%>
            </div>
        <div class="col-5" >
            <div class="row">
              <p class = "mt-3 text-justify"> Simply the best website out there to get 'down-to-earth' cost of living estimates. I've gone to Dubai and the forecast as so accurate!! So much so, that I was able to spend 3 months there without any financial hassle.</p>
              <p id = "signature"> Mathias Barreto, Digital Nomad</p>
            </div>
         </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row mt-4">
          <div class="col-2"></div>
            <div class="col-3">
            <%= cl_image_tag("perrine",  width: 200, class: "rounded-circle d-block w-40")%>
            </div>
        <div class="col-5" >
            <div class="row">
              <p class = "mt-3 text-justify"> Here I found the perfect nomad wishlist for me. From there I can list al of my dream destinations and even get various stats about each city. So, it is a no-brainer to use and keep track of. Great job Nomad Workers!</p>
              <p id = "signature"> Perrine Lardilleux, Digital Nomad</p>
            </div>
         </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row mt-4">
          <div class="col-2"></div>
            <div class="col-3">
            <%= cl_image_tag("lucas",  width: 200, class: "rounded-circle d-block w-40")%>
            </div>
        <div class="col-5" >
            <div class="row">
              <p class = "mt-3 text-justify"> The real time nomad chat was a real game changer for me. No doubt other websites have communities, but NM is free and high-quality at the same time. It's amazing to get help from experienced and nice nomads!.</p>
              <p id = "signature"> Lucas Pessoa, Digital Nomad</p>
            </div>
         </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container socialproof text-center mt-5 mx-auto mb-5">
    <h2> let's go <strong>global?</strong></h2>
</div>

