
<div class="adjust" style="height:100px"></div>
<h1 style="text-align: center; font-size: 30px; font-weight: bold; color: #c57b57;">Cost of Living Estimator</h1>
<div class="container my-4">
  <div id="data" data-data="<%= @data.to_json %>">
    <% @data.each do |category, values| %>
      <select class="selects">
        <optgroup label="<%= category %>">
          <% values.each do |subcategory| %>
            <option value="<%= subcategory[0] %>"><%= subcategory[0] %></option>
          <% end %>
        </optgroup>
      </select>
    <% end %>
  </div>

  <div id="chart-container" class="mt-5">
    <canvas id="myChart" width="400" height="150">
    </canvas>
  </div>

  <div id="result" class="my-5">
    <h3>Prices:</h3>
  </div>
</div>
