<div class="adjust" style="height:100px"></div>
<h1 style="text-align: center; font-size: 30px; font-weight: bold; color: #c57b57;">Cost of Living Estimator</h1>
<div class="container my-5">
  <%= render partial: "pages/costs_select", locals: { city: @city }, cached: true %>

  <div id="chart-container" class="mt-5">
    <canvas id="myChart" width="400" height="350" style='max-height: 400px;'>
    </canvas>
  </div>
  <div class="row mt-5 pt-2 pb-4">
    <%= render partial: "pages/cities_select", locals: { cities: @cities }, cached: true %>
    <%= render partial: "pages/budgets", cached: true %>
  </div>
  <div class="common-search mt-5 d-flex justify-content-center">
      <a href="" class="btn btn-pizza" id="chart-toggle">Pie Chart</a>
  </div>
</div>


