<div class="adjust" style="height:100px"></div>
<h1 style="text-align: center; font-size: 30px; font-weight: bold; color: #c57b57;">Cost of Living Estimator</h1>
<h2 style="text-align: center; font-size: 24px; font-weight: normal; color: #c57b57;">Expensive Package</h2>
<div class="container my-4">
  <div class="row align-items-center pt-4">
    
    <%= link_to 'Back', city_path(@city), class: 'btn btn-primary ml-3' %>
  </div>
  <% @data.each do |key, value|%>
    <div class="card my-5" style="width: 40rem;">
      <div class="card-header"><%= key %></div>
      <ul class="list-group list-group-flush">
        <% value.each do |subcategory, price| %>
          <li class="list-group-item"><%= subcategory %> $<%= price %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
