.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.btn-round {
  color: #c57b57;
  font-weight: bolder;
  border: 2px solid #c57b57;
  padding: 10px 24px;
  border-radius: 50px;
  opacity: 0.9;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #095256;
  }
}

.btn-round-full {
  color: white;
  background-color: #2a9d8f;
  font-weight: bold;
  border: 2px solid #2a9d8f;
  padding: 10px 24px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #095256;
    color: white;
  }
}

.btn-pizza {
  color: white;
  background-color: #c57b57;
  font-weight: bold;
  border: 2px solid #c57b57;
  padding: 10px 24px;
  border-radius: 10px;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #f1ab86;
    color: white;
  }
}

.btn-show-menu {
  color: white;
  background-color: #c57b57;
  font-weight: bold;
  border: 2px solid #c57b57;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #f1ab86;
    color: white;
  }
}

.btn-show-menu.collapsed {
  opacity: 0.6;
}

.btn-round-sm {
  color: white;
  border: 1px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  font-size: 15px;

  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #095256;
    border: 1px solid #095256;
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2a9d8f;
  transition: background 0.3s ease;
  border: 1px solid #2a9d8f;

  &:hover {
    background: #095256;
    color: white;
  }


}

.btn-flat-home {
  font-weight: bolder;
  font-size: 20px;
  color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  padding: 8px 24px;
  border-radius: 4px;
  background: #2a9d8f;
  transition: background 0.3s ease;
  border: 1px solid #2a9d8f;

  &:hover {
    background: #095256;
    color: white;
  }

}

.btn-search {
  width: 65px;
  height: 56px;
  margin-bottom: 5px;
  color: white;
  padding: 8px 24px;
  border-radius: 0 20px 20px 0;
  background: #2a9d8f;
  transition: background 0.3s ease;
  border: transparent;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

  &:hover {
    background: #095256;
    color: white;
  }
}

.form-control {
  border-radius: 20px;
}
button {
  font-size: 5px;
}
// .btn-search:after {
//   content: 'f002';
//   font-family: FontAwesome;
//   padding-left: 10px;
// }

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;

  &:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
}

.glowing {
  animation: glowing 1300ms infinite;
  color: white;
}

@keyframes glowing {
  0% {
    background-color: #095256;
    box-shadow: 0 0 3px #095256;
  }
  50% {
    background-color: #2a9d8f;
    box-shadow: 0 0 10px #2a9d8f;
  }
  100% {
    background-color: #095256;
    box-shadow: 0 0 3px #095256;
  }
}

