.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  filter: brightness(75%);

}

.card-container {
  position: relative;
  height: 250px;
  a:hover{
    text-decoration: none !important;
  }
}

.far {
  position: absolute;
  font-size: 24px;
  top: 15px;
  right: 15px;
  z-index: 10;
  color: white;
}

.fas {
  position: absolute;
  font-size: 24px;
  top: 15px;
  right: 15px;
  z-index: 10;
  color: white;
}


.card-category-transp {
  opacity: 0.3;
}
