.chat-container {
  width: 400px;
  position: fixed;
  bottom: 15px;
  right: 25px;
  background-color: white;
  padding: 20px 20px;
  border: 1px solid #fad4c0;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 9999;
}

.chat-widget {
  border-radius: 50px;
  background-color: #83c5be;
  border-color: #83c5be;
  width: 100%;
  &:hover{
    background-color: #006d77;
    border-color: #006d77;
  }
  &:active {
    background-color: #006d77;
    border-color: #006d77;
  }
  &:focus{
    background-color: #006d77;
    border-color: #006d77;
  }
}


.author {
  color: #c57b57;
}

.chat-content {
  margin-top: 10px;
  height: 50px;
  width: 355px;
  position: sticky;
  bottom: 0;
}

.chat-box {
  width: 375px;
  transition: all 250ms ease;
  margin-bottom: 5px;

  #messages {
    overflow-y: scroll;
    // overflow-x: wrap;
    height: 567px;
  }
  h1 {
    background-color: #fad4c0;
    padding: 10px 30px;
    border-radius: 10px;
    width: 355px;
  }
}
