#toggle-comparator {
  margin-top: 40px;
}

#comparator {
  width: 200px;
  height: 30px;
  color: #495867;
  background-color: #fee9e1;
  border-color: #fee9e1;
  font-weight: bold;
}

.selects {
  height: 30px;
  color: #495867;
  background-color: #fee9e1;
  border-color: #fee9e1;
}
