 .chat-container {
  width: 400px;
  position: fixed;
  bottom: 15px;
  right: 50px;
  background-color: white;
  padding: 20px 10px;
  border: 1px solid #fad4c0;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  z-index: 9999;
  background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1));
}
 .chat-widget {
  border-radius: 50px;
  background-color: #83c5be;
  border-color: #83c5be;
  width: 100%;
}
.chat-widget:hover {
  background-color: #006d77;
  border-color: #006d77;
}

.chat-widget:active {
  background-color: #006d77;
  border-color: #006d77;
}

.author {
  color: #c57b57;
}

.chat-content {
  margin-top: 10px;
  height: 50px;
  width: 355px;
  position: sticky;
  bottom: 0;

}
.chat-box {
  width: 375px;
  transition: all 250ms ease;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px 5px 10px 5px;

  #messages {
    overflow-y: scroll;
    overflow-x: wrap; // Not really a solution: FIX LATER. Ok, maybe this is it
    height: 567px;
  }


  h1 {
    text-align: center;
    background-color: #fad4c0;
    padding: 10px 30px;
    border-radius: 10px;
    width: 355px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
}
