.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  a {
    box-shadow: none !important;
    border: transparent;
    color: #4e16fb;
  }
}

.mapboxgl-popup-close-button {
  margin-top: -3px;
  margin-right: 3px;
}

.mapboxgl-popup-tip {
  display: none;
}

.white-heart {

  color: #f8f9fa;
}

.white-heart:hover {
 
  color: #f8f9fa; 
  // color: transparent;
  opacity: 0.5;
}