.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 10px 15px;

  a {
    color: #4e16fb;
    outline: none
  }
}

.mapboxgl-popup-close-button {
  margin-top: -3px;
  margin-right: 3px;

}

.mapboxgl-popup-tip {
  display: none;
}

.white-heart {

  color: #f8f9fa;
}

.white-heart:hover {
 
  color: #f8f9fa; 
  opacity: 0.5;
}