.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(50deg, #095256 0%, #17bebb 100%);
  min-height: 80px;
  color: #fee9e1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;

}
.site-name {
  color: #fad4c0;
  font-size: 24px;
  font-weight: bolder;
}

a.navbar-brand {
  width: 150px;
}

.nav-item {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Nothing You Could Do', cursive;
  padding-right: 10px;
}

.nav-link {
  color: #fee9e1 !important;
}
