.socialproof {
  
 h3 { font-family: 'Lato', sans-serif;
 	 font-weight: bold;
    color: #adb5bd;


 }

 h2 {
    font-family: 'Lato', sans-serif;
 	font-size: 48px;
 	line-height: 64px;
 	color: #c57b57 !important;
 	font-weight: lighter;
 }

 strong {
	  
	  font-weight: bolder;
 }
}

#signature {
	padding: 0;
	font-weight: bolder;
}