.socialproof {
  
 h2 {
    font-family: 'Lato', sans-serif;
 	font-size: 56px;
 	line-height: 64px;
 	color: #c57b57 !important;
 	font-weight: lighter;
 }

 strong {
	  
	  font-weight: bolder;
 }
}