<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?<%= city.name %>,landscape)">
  <div class="link">
    <%= link_to city.name, city_path(city) %>
    <% if current_user.wishlists.include?(city.name) %>
      <a href="#"><i class="fas fa-heart"></i></a>
    <% else %>
      <a href="#"><i class="far fa-heart"></i></a>
    <% end %>
  </div>
</div>
