<div class="mt-5 ml-5">
  <div class="card my-4 text-center" style="width: 18rem; background-color: #006d77; color: white;">
    <div class="card-body">
      <h5 class="card-title font-weight-bold pb-2">Cost of Living Estimator</h5>
      <p class="card-text">
        <%= link_to "See more", city_estimator_path(city), class:"btn-round-sm" %>
      </p>
    </div>
  </div>
</div>
