<div class="review border-top pt-5 pb-5 collapse" id="collapseReviews" data-parent="#menu">
  <div class="review  mb-5" style="color: #c57b57">
    <div class="review-title font-weight-bold text-uppercase">
      <h4><strong>...Reviews from Nomads</strong></h4>
    </div>
    <p>Find out opinion from nomads who already went to this city </p>
  </div>
  <div class="row">
    <div class="col-6">
      <%= render city.reviews.includes([:user]), cached: true || "Nobody has reviewed #{city.name} yet, have you visited it? Leave a review for others!" %>
    </div>
    <div class="col-6">
      <% if user_signed_in? %>
        <%= render partial: "cities/form" %>
      <% else %>
        <%= button_to "Login to wishlist cities and much more!", new_user_session_path, class:"btn-flat" %>
      <% end %>
      <%= button_to 'Send me this info!', city_send_city_email_path(city), remote: true, class:"btn-flat mt-2" %>
    </div>
  </div>
</div>
