<div class="d-flex justify-content-center">
  <div class="card my-4 text-center" style="width: 18rem; background-color: #006d77; color: white;">
    <div class="card-body">
      <h5 class="card-title font-weight-bold pb-2">Don't want to miss anything?</h5>
      <p class="card-text">
        <%= form_with url: city_send_city_offers_email_path(city) do |form| %>
          <%= form.hidden_field :prices %>
          <%= form.submit "Send me this info!", class:"btn btn-round-full" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
