<div class="mt-5 mr-5 ml-auto">
  <div class="card my-4 text-center" style="width: 18rem; background-color: #006d77; color: white;">
    <div class="card-body">
      <h5 class="card-title font-weight-bold pb-2">Don't want to miss anything?</h5>
      <p class="card-text">
        <%= link_to 'Send me this info!', city_send_city_email_path(city), remote: true, class:"btn-round-sm" %>
      </p>
    </div>
  </div>
</div>








