<div class="mt-5 mb-4">
  <div class="card my-4 d-flex align-items-center justify-content-center" style="height: 150px; width: 27rem; background-color: #006d77; color: white;">
    <div class="row card-body d-flex align-items-center justify-content-center">
      <h5 class="card-title font-weight-bold pb-2">Don't want to miss anything?</h5>
      <p class="card-text">
        <script></script>
        <%= link_to 'Send me this info!', city_send_city_email_path(city), method: :post,  class:"btn-round-sm" %>
      </p>
    </div>
  </div>
</div>
