<div>
  <button class="btn btn-show-menu" type="button" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseExample">
    City Info
  </button>
  <button class="btn btn-show-menu" type="button" data-toggle="collapse" data-target="#collapseWeather" aria-expanded="false" aria-controls="collapseExample">
    Weather
  </button>
  <button class="btn btn-show-menu" type="button" data-toggle="collapse" data-target="#collapseCoworking" aria-expanded="false" aria-controls="collapseExample">
    Coworking
  </button>
</div>
