<div>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCosts" aria-expanded="false" aria-controls="collapseExample">
    Costs
  </button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseReviews" aria-expanded="false" aria-controls="collapseExample">
    Reviews
  </button>
</div>
