<div class="adjust" style="height:100px"></div>

<div class="container mt-4 mb-5">
  <br>
  <h1 style="text-align: center; font-size: 30px; font-weight: bold; color: #c57b57; padding-bottom: 25px;">Best Nomad Hubs</h1>
  <div class="question pb-3 bold" style="text-align: center; font-size: 24px; font-weight: bold; color: #006d77; font-family: 'Nothing You Could Do', cursive;">
    Where is your next stop?
  </div>
  <%= simple_form_for :search, url: cities_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
       params[:query],
       class: "form-control",
       placeholder: "go global"%>
      <%= submit_tag "", class: "btn btn-search" %>
        <i class="fas fa-search" style="padding-top: 5px; padding-right: 6px; font-size: 20px;"></i>
    </div>
  <% end %>
</div>
<div class="container my-4">
  <div class="cards">
    <%= render partial: "shared/city", collection: @cities %>
  </div>
</div>
