<div class="container my-4">
  <div class="cards">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random/?<%= wishlist.city.name %>,landscape)">
        <div class="link">
          <%= link_to wishlist.city.name, city_path(wishlist.city.id) %>
        </div>
      </div>
  </div>
</div>
