<div class="container my-4">
  <h1>Wishlist Index</h1>

  <% current_user.wishlists.each do |wishlist| %>
    <div class="card my-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= wishlist.city.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= wishlist.city.temperature %>°C</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to "delete", wishlist_path(wishlist), method: :delete, data: { confirm: 'Are you sure?' }, style: "color: red;" %>
      </div>
    </div>
  <% end %>
</div>
