<div class="adjust" style="height:125px"></div>
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>
<h1 style="text-align: center; font-size: 30px; font-weight: bold; color: #c57b57; padding-bottom: 50px;"> Nomad Wishlist</h1>
<div class="container my-4">
  <div class="cards">
    <%= render partial: "shared/city", collection: current_user.cities %>
  </div>
</div>

<script>
const element = document.querySelectorAll('.card-category');
element.forEach((el) => {
  el.addEventListener('click', ()=> {
  el.classList.toggle('card-category-transp');
})
});
</script>
