<div class="adjust" style="height:125px"></div>
<% content_for :head do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>
<h1 style="text-align: center; font-size: 30px; font-weight: bold; color: #c57b57; padding-bottom: 50px;"> Nomad Wishlist</h1>
<%= render partial: "shared/city", locals: { cities: current_user.cities } %>


<script>

const element = document.querySelectorAll('.card-category');
element.forEach((el) => {
  el.addEventListener('click', ()=> {
  el.classList.toggle('card-category-transp');
})
});

</script>


<!-- Clicar no card (acessar o show da city) e voltar não retorna o card ao normal.
 O mesmo problema ocorre se selecionarmos o coração e dermos toggle no tataravô.
 O heart é refeito pelo js mas o script não roda novamente, logo o elemento não recebe o eventlistener
 O js dessa página precisa rodar quando a página é acessada, mesmo que via 'voltar', e
 quando algum elemento é re-renderizado. Tentei usar o helper include_javascript_tag e o reload do turbolinks,
 sem sucesso  -->

