<p id="review-<%= review.id %>"> <div class="card-review pl-3 py-3"><p><%= review.user.username %> says: </p> <%= review.content %></div>

</p>
<% if review.user == current_user %>
  <%= link_to 'Delete', city_review_path(@city, review), method: :delete, data: { confirm: 'Are you sure?' },
  class:"btn-flat", remote: true %>
<% end %>
